*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: aliceblue;
}

main {
  width: 60%;
}

.title {
  color: rgb(100, 179, 248);
  margin: 20px;
  font-size: 50px;
}

.score-display {
  font-size: 30px;
}

.li {
  list-style: none;
  margin: 10px 0;
}

.homePage {
  text-decoration: none;
  font-size: 30px;
  margin: 20px;
  border: 1px solid rgb(100, 179, 248);
  padding: 5px 20px;
  background-color: rgb(100, 179, 248);
  color: aliceblue;
  border-radius: 5px;
  transition: 0.2s all ease;
}

.homePage:hover {
  background-color: white;
  color: rgb(100, 179, 248);
  cursor: pointer;
  transform: translateY(-1px);
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}
