*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: aliceblue;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  flex-direction: column;
  width: 70%;
}

.options {
  width: 100%;
  flex-direction: column;
  margin: 0 auto;
}

.option {
  width: 90%;
  margin: 5px 0;
  transition: 0.1s all ease;
  cursor: pointer;
}

.option:hover {
  transform: translateY(-1px);
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

.question {
  width: 90%;
  margin: 40px 0;
  font-size: 55px;
  font-family: sans-serif;
}

.alphaChoices {
  text-align: center;
  padding-top: 15px;
  width: 8%;
  align-self: flex-start;
  background-color: rgb(100, 179, 248);
  color: white;
}

.textOption {
  width: 95%;
  padding: 15px 0 0 10px;
  background-color: white;
  transition: all 0.2s ease;
}

.option p {
  height: 60px;
  font-size: 25px;
}

.correct {
  background-color: #60d394;
  color: white;
}

.incorrect {
  background-color: #f22626;
  color: white;
}

.hud {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.question-index,
.score-index {
  text-align: center;
}

.bigger {
  font-size: 3rem;
  color: rgb(100, 179, 248);
  font-weight: 600;
}

.smaller {
  font-size: 28px;
  text-align: center;
}

.progressBarFull {
  overflow: hidden;
  margin-top: 15px;
  height: 2rem;
  width: 12rem;
  border: 2px solid rgb(100, 179, 248);
}

.howFull {
  width: 0%;
  background-color: rgb(100, 179, 248);
  height: 95%;
  overflow: hidden;
  margin: 1px;
}
.hidden {
  display: none;
  visibility: hidden;
}

.circle {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
